@media only screen and (min-width: 64rem) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #name {
        margin-top: 40%;
    }

    #pimg {
        width: 400px;
        height: autoS;
    }

    header {
        display: grid;
        justify-content: space-evenlyS;

    }

    header,
    main,
    footer {
        max-width: 60%;
    }
}