@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Zen+Kaku+Gothic+New:wght@300&display=swap");

body {
  max-width: 1200px;
  margin: auto;
}
header {
  max-width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  position: relative;
  background-color: rgba(19, 102, 203, 0.831);
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: "Zen Kaku Gothic New", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

#pimg {
  width: 95%;
  grid-column: 1/2;
  border-radius: 10px;
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
}

#name {
  grid-column: 2/3;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0;
}

main {
  max-width: 40%;
  display: grid;
  margin: 0 auto;
  position: relative;
}

#portal {
  grid-column: 1/3;
  grid-row: 1;
  text-align: left;
}

#lessons-list {
  grid-column: 1/3;
  text-align: left;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

li {
  grid-column: 1/3;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: bold;
}

footer {
  grid-row: 3;
  max-width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  background-color: rgba(19, 102, 203, 0.831);
  border-radius: 10px;
}

.copyright {
  text-align: center;
  grid-column: 1/3;
}

#lastmodified {
  text-align: center;
  grid-column: 1/3;
}

@media screen and (max-width: 1075px) {
  body {
    display: block;
  }

  header {
    display: block;
  }
}
