@media only screen and (min-width: 64rem) {
  nav ul li a {
    padding: 0.5rem 1rem;
  }

  /*main*/
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 0.8rem;
    padding: 10px;
  }

  #hero {
    border-style: solid;
    margin: 5px;
    height: 410px;
    text-align: center;
    position: relative;
  }

  #heroimg {
    height: 410px;
    object-fit: cover;
  }

  #moverlay {
    display: none;
  }

  #loverlay {
    position: absolute;
    top: 50px;
    right: 125px;
    box-shadow: 0 0 30px #333;
  }

  .overlay {
    position: absolute;
    top: 350px;
    right: 50px;
    border: 1px solid #000;
    box-shadow: 0 0 30px #333;
    opacity: 0.9;
  }

  #event {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #weather {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #news {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #join {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #join p {
    margin-top: -20px;
    font-size: 1rem;
  }

  #join a {
    text-decoration: none;
    font-size: 1.1rem;
  }

  #jbtn {
    width: 40px;
  }

  #hero {
    grid-column: 3/7;
    grid-row: 1/3;
  }

  #news {
    grid-row: 3;
    grid-column: 3/7;
  }

  #spotlight {
    grid-row: 1/-1;
    grid-column: 7/9;
    display: flex;
    flex-direction: column;
  }

  #spotlight1 {
    border-style: solid;
    margin: 5px;
    text-align: center;
    display: block;
  }

  #spotlight1 img,
  #spotlight2 img,
  #spotlight3 img {
    display: none;
  }

  #spotlight2 {
    border-style: solid;
    margin: 5px;
    text-align: center;
  }

  #spotlight2 p {
    margin-top: -30px;
  }

  #spotlight3 {
    display: block;
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #join {
    grid-row: 3;
    grid-column: 1/3;
  }

  #event {
    grid-row: 1;
    grid-column: 1/3;
  }

  #weather {
    grid-row: 2;
    grid-column: 1/3;
  }

  #weather section #figcaption {
    font-size: .8rem;
    margin: 0;
    margin-top: -20px;
  }

  /*Discover CSS*/

  #discover {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin: 0 auto;
  }

  .card {
    width: 380px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s;
  }

  .cards {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    margin: 0 auto;
  }

  .card:hover {
    transform: scale(1.1);
    z-index: 555555 !important;
  }

  .bcard p {
    font-size: 15px;
  }

  .card p {
    text-align: justify;
    font-weight: bold;
  }

  /*form*/
  form label.sbs {
    padding: 0.4rem 0;
  }

  #bform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  #h1form {
    font-size: 1.5rem;
    grid-row: 1;
    grid-column: 1/3;
  }

  #membershipi {
    flex-flow: column;
    grid-column: 1;
    margin: 0 auto;
  }

  #form {
    grid-column: 2;
  }

  /*Directory page*/
  .businesstable {
    font-size: 1rem;
  }

  .btable {
    display: none;
  }

  #businessHeadline {
    font-size: 2rem;
  }
}