@media only screen and (min-width: 40rem) {
  nav button {
    display: none;
  }

  nav ul#primarynav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0);
  }

  #joinchamber {
    font-size: 1rem;
  }

  /*main*/
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.8rem;
    padding: 10px;
  }

  #hero {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #soverlay {
    display: none;
  }

  #moverlay {
    position: absolute;
    top: 50px;
    right: 175px;
    box-shadow: 0 0 30px #333;
  }

  #event {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #weather {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #news {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #join {
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #hero {
    grid-row: 1;
    grid-column: 1/-1;
  }

  #news {
    grid-row: 2;
    grid-column: 1/-1;
  }

  #spotlight {
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
  }

  #spotlight1 {
    grid-column: 1;
    grid-row: 1;
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #spotlight2 {
    grid-column: 2/3;
    grid-row: 1;
    border-style: solid;
    height: 200px;
    margin: 5px;
    text-align: center;
  }

  #join {
    display: block;
    grid-row: 4;
    grid-column: 1/-1;
  }

  #hjoin {
    display: block;
  }

  #event {
    grid-row: 5;
    grid-column: 1/4;
  }

  #weather {
    grid-row: 5;
    grid-column: 4/6;
  }

  footer {
    display: flex;
    flex-flow: column;
  }

  #fpart1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headings {
    padding: 10px;
  }

  #fpart2 {
    display: flex;
  }

  .email,
  .phone {
    font-size: 1rem;
    padding: 10px;
  }

  /*Discover CSS*/
  #art9 {
    grid-column: 1/3;
  }

  #discover {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    margin: 0 auto;
  }

  #discover article {
    margin: 0 auto;
  }

  .card {
    width: 320px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    transition: transform 0.2s;
  }

  /*CARD HOVER EFFECT*/
  .card:hover {
    transform: scale(1.2);
    z-index: 555555 !important; /*To give the bigger index always to the element on hover to appears always in front of everything*/
  }

  /*CSS IMAGES HOVER EFFECT*/
  #ec1::before, #ec2::before, #ec3::before, #ec4::before, #ec5::before, #ec6::before, #ec7::before, #ec8::before, #ec9::before {
    background: rgba(0,0,0,.2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  #ec1:hover, #ec2:hover, #ec3:hover, #ec4:hover, #ec5:hover, #ec6:hover, #ec7:hover, #ec8:hover, #ec9:hover{
    animation: bloom ease-in-out .75s forwards;
  }

  @keyframes bloom {
    0% {
      filter: grayscale(1);
    }
    40% {
      filter: grayscale(1);
    }
    100% {
      filter: grayscale(0);
    }
  }
  /*END CSS IMAGE HOVER*/
  
  .card p {
    text-align: justify;
    font-weight: bold;
    margin: 10px;
  }

  /*form*/
  #bform {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
