#table {
  width: 250px;
  margin: 0 auto;
  box-shadow: 10px 10px 12px rgb(246,241,234);
}

caption {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: rgb(246,241,234);
  border-bottom: none;
}

table,
caption,
th,
td {
  border: solid .5px #ccc;
}

table {
  margin-top: 1em;
  width: 250px;
  font-family: Ubuntu, sans-serif;
  border-collapse: collapse;
}

th,
td {
  font-weight: normal;
  padding: 3px;
  text-align: center;
}

thead th {
  color: white;
  font-weight: bold;
  background-color: rgb(98, 140, 166);
}

tr:nth-of-type(even) {
  background-color: rgb(255,255,255);
}

tr:nth-of-type(odd) {
  background-color: rgb(83,104,120);
  color: white;
}

tbody tr:nth-child(5) {
  font-style: italic;
}

/*Update to achieve the different color in the sales goal!*/
tbody tr:nth-child(4) td:nth-child(3) {
  background-color: rgb(98,140,166);
  color: white;
}

tbody td:hover {
  background-color: rgb(98, 140, 166);
  border: none;
}

tbody td {
  font-style: normal;
}

tfoot {
  font-size: 0.8rem;
}

tfoot td {
  background-color: rgb(246,241,234);
  color: black;
}
