* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Sansita", Ubuntu, sans-serif;
}

/* phone or baseline views */
header,
footer {
  background-color: #f6f1ea;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main,
footer {
  max-width: 767px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 1.1rem;
  color: #ff521b;
  text-align: center;
}
h2 {
  color: #536878;
  text-align: center;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

#logo {
  max-width: 70%;
  display: block;
}

.img {
  display: flex;
  justify-content: center;
}

nav {
  margin: 0 auto;
  max-width: 767px;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background-color: #373737;
  transition: 0.5s;
}

main ul li {
    list-style: circle;
}

nav a:hover {
  background-color: #f2f3ae;
  color: #36454f;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
  padding: 10px;
}

footer {
  color: #848c8e;
  font-size: 0.8rem;
  font-family: "Roboto Condensed", sans-serif;
}

/* Tablet Views */
@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 1.5rem;
  }

  nav ul {
    display: flex;
  }
  nav ul li {
    flex: 1 1 auto;
  }

  nav a {
    font-size: 1rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  #logo {
    max-width: 30%;
    display: block;
  }
}

/* Desktop Views */
@media only screen and (min-width: 60em) {
  h1 {
    font-size: 2rem;
  }
  nav a {
    font-size: 1.1rem;
  }
  main {
    grid-template-columns: 1fr;
  }

  #logo {
    max-width: 50%;
    display: block;
  }
}
